@import url('./reset.css');
@import url('./gallery.css');
@import url('./form.css');

.menu-list {
  margin-top: 32vh;
  font-size: 65px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.b-button {
  margin-top: 46px;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.gallery-a,
.form-a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s ease;
}
.gallery-a:hover,
.form-a:hover {
  color: #007bff;
  font-weight: 600;
}
